body {
  margin: 0;
  padding:  0;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color:#283136;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.main-header {
  background-color: #e1e1e1;
  
}

.top-logo:hover{
  
}

.top-logo:focus{
  
}

.main-nav {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: 500;
  color: #000000;
  background-color: #e1e1e1;
}


.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a{
  color:#000000;
}

.site-navigation a:hover,
.user-navigation a:hover{
  color:#fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*
.site-navigation a:visited,
.user-navigation a:visited {
  color:#000000;
  border-bottom: 2px solid #fb565A;
  
}*/

.slider-text-big{
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
  color: #000000;
}

.slider-link{
  display: table-cell;
  width: 240px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

.slider-btn{
  color: #ffffff;
  background-color: #fb565a;
}

.slider-btn:hover{
  color: #ffffff;
  background-color: #e74246;
}

.slider-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.main-container{
margin-top:10px;
}

.service-item{
  margin-bottom: 10px;
}

.servise-title{
  font-size: 24.5px;
  font-weight: bold;
  line-height: 31.5px;
  color:#000000;
}

.btn{
  display: table-cell;
  width:160px;
  height: 50px;
  color:#ffffff;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  
}

.btn-service-red{
  background-color: #fb565a;  
}
.btn-service-red:hover{
  background-color: #e74246;
}

.btn-service-red:active{
  background-color:#d7373b;
}

.btn-service-green{
  background-color:#00ca74;
}

.btn-service-green:hover{
  background-color:#00bc6c;
}

.btn-service-green:active{
  background-color:#00aa62
}

.btn-service-yellow{
  background-color:#efc84a;
}

.btn-service-yellow:hover{
  background-color:#eab534;
}

.btn-service-yellow:active{
  background-color:#e5a722;
}
.service-link{
  color:#ffffff;
 
}

.service-link:hover{
  color:#ffffff;
 
}

.service-link:active{
  color:rgba(255, 255, 255, 0.3);
 
}

.studio-info-title b{
  font-size:45.5px;
  font-weight: 500;
  line-height: 45.5px;
  color: #000000;
}

.studio-info-label{
  font-weight: bold;
  color: #000000;
  
}

.studio-info-service{
  list-style:none;
  
}

.features {
  line-height: 18px;
}

.title-feautures {
  font-weight: bold;
  color: #000000;
}

.feauteres-percent{
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color:#000000;
}

.features-item{
  line-height: 18px;
  color: #283136;
}
.long-line {
  width: 1440px;
  border:solid 2px;
  opacity: 0.2;
}

.client{
  opacity: 0.2;
}
.client:hover{
  opacity: 1;
}
.client:active{
  opacity: 0.1;
}
.form-title{
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color:#000000;
}

.appointment-form{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 17.5px;
  color:#000000;
}

.appointment-form input {
  border: solid 2px #d7dcde;
}

.appointment-form textarea{
  border: solid 2px #d7dcde;
}

.write-us-btn{
  display: table-cell;
  width: 219px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #fb565a;
}

.write-us{
  color: #ffffff;
}

.our-adress{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.title-modal{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 31.5px;
  color: #000000;
}

.modal-close{
  width: 21px;
  height: 21px;
  background-image: url(../img/close-cross.svg) no-repeat;
  opacity: 0.3;
}

.form-button{
  width: 260px;
  height: 50px;
  color: #ffffff;
  background-color: #fb565a;
  border:0px;
  border-radius:3px;
}

.social-button{
  list-style: none;  
}

.social-btn{
color: #000000;
}

.action{
  line-height: 22px;
  color:#444444;
}
.frindship{
  font-size: 35px;
  font-weight: bold;
  line-height: 35;
  color: #000000;
}












