/* Описания общих состояний*/
body {
  margin: 0;
  padding:  0;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color:#283136;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}
/* Описания общих состояний*/

/* Описания header*/
.main-header {
  background-color: #eeeeee;
}

.visually-hidden{
position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*Описание состояний логотипа в header*/
.main-logo{
  margin-right: 200px;
  padding-top:27px;
  border: 2px solid red;
}
.top-logo:hover{
  opacity: 0.8;
}

.top-logo:active{
  opacity: 0.3;
}
/*Описание состояний логотипа в header*/
/* Описания меню навигации в header*/
.main-nav {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: 500;
  color: #000000;
  
}


.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a{
  color:#000000;
}

.site-navigation a:hover,
.user-navigation a:hover{
  color:#fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Описания меню навигации в header*/
/* Описания состояний слайдера в header */
.slider-text-big{
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
  color: #000000;
}
.slider{
border: 2px solid red;
}


.slider-link{
  display: table-cell;
  width: 240px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

.slider-btn{
  color: #ffffff;
  background-color: #fb565a;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
}

.slider-btn:hover{
  color: #ffffff;
  background-color: #e74246;
}

.slider-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
/* Описания состояний слайдера в header */
/* Описания header*/
/* Описания основного содержимого*/
.main-container{
margin-top:10px;
}

.service-item{
  margin-bottom: 10px;
}

.servise-title{
  font-size: 24.5px;
  font-weight: bold;
  line-height: 31.5px;
  color:#000000;
}

.btn{
  display: table-cell;
  width:160px;
  height: 50px;
  color:#ffffff;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  
}

.btn-service-red{
  background-color: #fb565a;  
}
.btn-service-red:hover{
  background-color: #e74246;
}

.btn-service-red:active{
  background-color:#d7373b;
}

.btn-service-green{
  background-color:#00ca74;
}

.btn-service-green:hover{
  background-color:#00bc6c;
}

.btn-service-green:active{
  background-color:#00aa62
}

.btn-service-yellow{
  background-color:#efc84a;
}

.btn-service-yellow:hover{
  background-color:#eab534;
}

.btn-service-yellow:active{
  background-color:#e5a722;
}
.service-link{
  color:#ffffff;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
 
}

.service-link:hover{
  color:#ffffff;
 
}

.service-link:active{
  color:rgba(255, 255, 255, 0.3);
 
}

.studio-info-title b{
  font-size:45.5px;
  font-weight: 500;
  line-height: 45.5px;
  color: #000000;
}

.studio-info-label{
  font-weight: bold;
  color: #000000;
  
}

.studio-info-service{
  list-style:none;
  
}

.features {
  line-height: 18px;
}

.title-feautures {
  font-weight: bold;
  color: #000000;
}

.feauteres-percent{
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color:#000000;
}

.features-item{
  line-height: 18px;
  color: #283136;
}
.long-line {
  width: 1160px;
  border:solid 2px;
  opacity: 0.2;
}

.long-line-center{
  width: 1160px;
  margin-bottom: 75px;
  border:solid 2px;
  opacity: 0.2;
}

.client{
  opacity: 0.2;
}
.client:hover{
  opacity: 1;
}
.client:active{
  opacity: 0.1;
}

.page-title-main{
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  color:#000000;
  
}

.form-switch{
  font-size: 16px;
  line-height:20px;
  color:#283136;
}

.form-switch label:hover{
  color:#000000;
}

.form-switch label:active{
color: rgba(40, 49, 54, 0.3);
}

.price-title{
  letter-spacing: 0.2px;
}

.form-title-switch{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 31.5px;
  color: #000000;
}

.button-show{
  width: 260px;
  height: 50px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
  color: #000000;
  background-color: #eeeeee;
  border:0px;
  border-radius:3px;
  
}

.btn-show-coast:hover{
  background-color:#dfdfdf;
}

.btn-show-coast:active{
  color:rgba(0, 0, 0, 0.3);
  background-color:#d5d5d5;
}


.form-title{
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color:#000000;
}

.appointment-form{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 17.5px;
  color:#000000;
}

.appointment-form input {
  border: solid 2px #d7dcde;
}

.appointment-form input:hover {
  border: solid 2px #b4b9bb;
}

.appointment-form input:active {
  border: solid 2px #000000;
}

.appointment-form textarea{
  border: solid 2px #d7dcde;
}

.appointment-form textarea:hover{
  border: solid 2px #b4b9bb;
}

.appointment-form textarea:active{
  border: solid 2px #000000;
}

.sorting-title{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 17.5px;
}

.selection-list{
  list-style: none;
}

.selection-link{
  line-height: 17.5px;
  color: rgba(0, 0, 0, 0.3);
}

.selection-link:hover{
  color: rgba(0, 0, 0, 0.6);
}

.selection-link:active{
  color: #000000;
  
}

.sorting-up-down-list{
  list-style: none;
}

.sorting-up,
.sorting-down{
  color:#000000;
}

.template{
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.design-template img{
  display: table;
}

.overlay{
  opacity: 0.12;
}
.overlay:hover{
  opacity: 1;
}

.btn-pay{
  display: table-cell;
  width: 200px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #fb565a;
}

.btn-pay:hover{
  background-color:#e74246;
}

.btn-pay:active{
  background-color:#d7373b ;
}
/*Описание цифрового элемента выбора страниц */
.page{
  margin-bottom: 10px;
}

.page-link{
  display: table-cell;
  width: 50px;
  height: 50px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
  text-align: center;
  vertical-align: middle;
  color:#000000;
  border-radius: 3px;
  background-color:#eeeeee; 
}

.page-link:hover{
  color:#000000;
  background-color:#dfdfdf;
}

.page-link:active{
  color: rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}



.page-link:first-child{
  border:4px solid #eeeeee;
  background-color:#ffffff;
}

.page-link:first-child:hover{
  border:4px solid #dfdfdf;
}

.page-link:first-child:active{
  border:4px solid rgba(0, 1, 1, 0.1);
}

.page-link:last-child{
  width: 260px;
  height: 50px;
}
/*Описание цифрового элемента выбора страниц */
.template-title{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 31.5px;
  color: #000000;
}
/* Описания основного содержимого*/

/* Описания всплывающего окна*/
.write-us-btn{
  display: table-cell;
  width: 219px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #fb565a;
}

.write-us{
  color: #ffffff;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
}

.our-adress{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.title-modal{
  font-size: 17.5px;
  font-weight: bold;
  line-height: 31.5px;
  color: #000000;
}

.modal-close{
  width: 21px;
  height: 21px;
}

.form-button{
  width: 260px;
  height: 50px;
  border:0px;
  border-radius:3px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 17.5px;
  color: #ffffff;
  background-color: #fb565a;
 
}
/* Описания всплывающего окна*/
/* Описания подвала*/
.social-button{
  list-style: none;  
}

.social-btn{
  color: #000000;
}

.action{
  line-height: 22px;
  color:#444444;
}
.friendship{
  font-size: 35px;
  font-weight: bold;
  line-height:35px;
  color: #000000;
}
/* Описания подвала*/
/*Сеточные стили*/
html,
body{
  min-width:1440px;
  min-height:2476px;
  
}
/*Сеточные стили в header*/
.main-header{
  padding-left:120px;
  margin-bottom:82px;
  border: 2px solid black;
}

.main-container{
  width:1200px;
  min-height:544px;
  margin-top:0px;
  padding-left:20px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
}

.main-nav{
  display:flex;
  justify-content: space-between;
}

.wrapper{
  width:1160px;
  margin-right:0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border:2px solid green;
}
.site-navigation{
  width: 440px;
  display:flex;
  justify-content: space-between;
  border: 2px solid red;
  margin-right: 280px;
}

.slider-1{
  width:1160px;
  display: flex;
  justify-content: flex-end;
  flex-wrap:no-wrap;
}

.slider-text{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
/*Сеточные стили в header*/
/* Сеточные стили в main*/
.main-content{
  width:1200px; 
  padding-left:120px;
}

.our-service {
  margin-bottom: 80px;
  padding-left: 20px;
  display: flex;
}

.service-item {
  margin-right: 100px;
}


.studio-wrapper{
  padding-left: 20px;
  display: flex;
}














